.wrapper__container{
  margin: 20px;
}

.grid__container{
  display: grid;
  grid-template-columns: 700px 300px;
  justify-content: center;
  grid-column-gap: 20px;
}

.frame__item{
  width: 100%;
  height: 600px;
}
.search-bar{
  margin: 20px;
  text-align: center;
}

.search-bar input{
  width: 75%;
}


.list-group-item{
  cursor: pointer;
}

.list-group-item:hover{
  background-color: #eee;
}